.flex{
    display: flex;
}

.item-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}
.uppercase{
    text-transform: uppercase;
}

.bold{
    font-weight: bolder;
}

.font{
    font-family: Arial, serif;
    font-size: small;
    color: black;
}

.space-around{
    justify-content: space-between;
}

.mx-2{
    margin-left: 12px ;
    margin-right: 12px;
}

.center{
    width: 100%;
}

.button{
    
    justify-content: center;
    align-items: center;
}